html, body{
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(38, 4, 83, 1);
    color: rgba(246, 240, 254, 1);
}
#navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 200px;
    width: 250px;
    height: 43%;
    border-bottom: 1px solid;
    border-right: solid;
    border-color: azure;
}
#navbar header{
    padding: 20px;
}
#navbar ul{
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
#navbar li{
    color: rgba(246, 240, 254, 1);
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
    padding: 0px;
}
#navbar a{
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    color: rgba(246, 240, 254, 1);
}
header{
    color:rgba(246, 240, 254, 1);
    margin: 15px;
    text-align: center;
    font-size: 2rem;
}
#main-doc{
    position: absolute;
    margin-left: 270px;
}
#main-doc header{
    margin: 0px;
}
#main-doc p{
    text-align: justify;
}
code{
    display: block;
    text-align: left;
    white-space: pre-wrap;
    background-color: rgba(181, 128, 249, 0.5);
    border-radius: 15px;
    padding: 0px;
    margin: 20px;
}
@media only screen and(max-width: 400px){
    /* For Mobile Phone */
    #navbar ul{
        border: 1px solid;
        height: 207px;
        margin: 0 auto;
    }
    #navbar{
        position: absolute;
        padding: 0;
        margin: 0 auto;
        width: 100%;
        max-height: 275;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }
    #main-doc{
        position: relative;
        margin-left: 0px;
        margin-top: 270px;
    }
}
@media only screen and(max-width: 400px){
    #main-doc{
        margin-left: -10px;
    }
    code{
        width: 
    }
    header{
        display: block;
        font-size: 10px;
    }
    p{
        font-size: 5px;
    }
}
